# ==========================================
# Archivos de desarrollo y compilación
# ==========================================

# Node.js / Javascript / Typescript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/

# Frameworks Frontend (Angular, React, Vue, Next.js, Vite)
dist/
build/
out/
.next/
.nuxt/
.vuepress/dist/
.cache/
.parcel-cache/
.angular/

# ASP.NET / .NET / C#
bin/
obj/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
.vs/

# Variables de entorno y configuraciones sensibles
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.override

# Configuración de entornos de desarrollo (IDEs)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.user

# ==========================================
# Archivos temporales generados por LaTeX y TeXstudio
# ==========================================
# Compilados de salida (PDFs)
*.pdf

# Archivos auxiliares de LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.synctex
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.dvi
*.xdv
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Glosarios, Índices y Listas
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.idx
*.ind
*.ilg
*.nlo
*.nls
*.nlg
*.ent
*.thm

# TeXstudio, TeXmaker y respaldos de editores
*.bak
*.cwl
.texstudio/

# ==========================================
# Archivos del Sistema Operativo
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
